/* Estilos generales */
body {
    /* font-family: 'roboto', sans-serif;*/
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

.header-top {
    background-color: #0F2C54;
    padding: 10px 0;
    font-family: 'roboto', sans-serif;
    color: white;
}

.header-top .separator {
    margin: 0 10px;
    color: white;
}

.header-top .contact-info i {
    margin-right: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #0F2C54;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #D4B655;
}

.map-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 para diseño responsivo */
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Barra de carga */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #007bff 0%, #007bff 100%);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
    z-index: 1000;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

/* Estilos específicos para la sección de contacto */
#contacto {
    display: flex;
    justify-content: center;
    padding: 30px 0; /* Añadir padding para separación */
}

#contacto .row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1140px; /* Alineado con el ancho máximo del contenido */
    margin: 0 auto; /* Centrado horizontal */
}

#contacto .col-md-4 {
    flex: 1;
    margin-bottom: 30px;
    max-width: 300px; /* Ancho máximo para cada columna */
}

#contacto h3 {
    color: #0F2C54; /* Color para los títulos */
}

#contacto p {
    color: #0F2C54; /* Color para los párrafos */
}

#contacto .fas {
    color: #0F2C54; /* Color para los iconos */
}

/* Estilos específicos para la sección de contacto2 */
#contacto2 {
    display: flex;
    justify-content: center;
    padding: 30px 0; /* Añadir padding para separación */
    background-color: #0F2C54;
}

@media (max-width: 768px) {
    #contacto .row {
        flex-direction: column;
    }
    #contacto .col-md-4 {
        text-align: center;
        max-width: 100%;
    }
}

footer.bg-dark {
    margin-top: 20px;
}

.footer-top {
    background-color: #0F2C54;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.social-icons a {
    font-size: 20px; /* Tamaño de fuente más grande */
    margin-right: 10px; /* Espacio entre los íconos */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); /* Importando Poppins Light */


#intro-galeria {
    text-align: left; /* Alinear texto a la izquierda */
    padding: 20px; /* Añadir espacio interno */
}

#intro-galeria h2 {
    color: #0F2C54; /* Color del título */
}

#intro-galeria p {
    color: #0F2C54; /* Color del texto */
    font-family: 'Poppins', sans-serif; /* Aplicar Poppins Light */
    font-weight: 300; /* Estilo Light */
    width: 100%; /* Hacer que el párrafo ocupe todo el ancho disponible */
    max-width: none; /* Deshabilitar el ancho máximo si está presente */
}

#galeria {
    padding: 20px 0;
}

#galeria .col-md-4 {
    margin-bottom: 20px;
}

.gallery-image:hover {
    transform: scale(1.05);
}

/* Estilos para las imágenes de la galería */
.gallery-image {
    transition: transform 0.3s ease-out;
}


/* Estilos para los botones de filtro */
#gallery-filters {
    text-align: center; /* Centrar los botones horizontalmente */
    margin-top: 20px; /* Espacio superior */
}

.filter-btn {
    background-color: white; /* Color de fondo del botón */
    color: #0F2C54; /* Color del texto */
    border: 2px solid #0F2C54; /* Borde del botón */
    border-radius: 30px; /* Bordes redondeados */
    padding: 10px 20px; /* Espacio interno */
    cursor: pointer; /* Cursor tipo pointer */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.filter-btn.active {
    background-color: #0F2C54; /* Color de fondo activo */
    color: white; /* Color del texto activo */
    border: 2px solid #D4B655; /* Borde del botón */
    outline: none;
}

.filter-btn:hover {
    background-color: #0F2C54; /* Color de fondo al pasar el cursor */
    color: white; /* Color del texto al pasar el cursor */
}

/* Estilos para las secciones */
#intro-galeria, #gallery-filters, #galeria {
    margin-bottom: 5px; /* Margen inferior entre secciones */
}

/* Estilos específicos para la sección de contacto2 y footer */
#contacto2-footer {
    display: flex;
    justify-content: center;
    padding: 30px 0; /* Añadir padding para separación */
    background-color: #0F2C54;
    color: white; /* Color del texto */
}

#contacto2-footer .row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1140px; /* Alineado con el ancho máximo del contenido */
    margin: 0 auto; /* Centrado horizontal */
}

#contacto2-footer .col-md-4 {
    flex: 1;
    margin-bottom: 30px;
    max-width: 300px; /* Ancho máximo para cada columna */
}

#contacto2-footer h3 {
    color: #FFF; /* Color para los títulos */
}

#contacto2-footer p {
    color: #FFF; /* Color para los párrafos */
}

#contacto2-footer .fas {
    color: #FFF; /* Color para los iconos */
}

#contacto2-footer hr {
    border-color: rgba(255, 255, 255, 0.2); /* Color del borde de la línea horizontal */
}

#PaddingRightFooter {
    padding-left: 100px;
}

/* Estilos para la sección Conoce al Doctor */
#conoce-doctor {
    padding: 30px 0; /* Añadir padding para separación */
    background-color: white; /* Color de fondo claro */
}

.doctor-photo {
    width: 100%;
    height: 400px; /* Aumentar la altura para mostrar más de la imagen */
    background-size: contain; /* Ajustar el tamaño para que la imagen esté contenida */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    background-position: center;
}

.doctor-title {
    font-family: 'Elizabeth', sans-serif;
    color: #D4B655; /* Color del título */
    font-size: 40px;
    margin-bottom: 15px;
}

#conoce-doctor p {
    color: #0F2C54; /* Color para los párrafos */
    font-family: 'Elizabeth', sans-serif; /* Aplicar Roboto */
    margin-bottom: 15px;
}

.btn-agenda {
    background-color: white; /* Color de fondo del botón */
    color: #0F2C54; /* Color del texto */
    border: 2px solid #0F2C54; /* Borde del botón */
    border-radius: 30px; /* Bordes redondeados */
    padding: 10px 20px; /* Espacio interno */
    cursor: pointer; /* Cursor tipo pointer */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.btn-agenda:hover {
    background-color: #0F2C54; /* Color de fondo al pasar el cursor */
    color: white; /* Color del texto al pasar el cursor */
}

#conoce-doctor .social-icons a {
    font-size: 24px; /* Tamaño de fuente más grande para los iconos */
    color: #0F2C54; /* Color de los iconos */
    transition: color 0.3s ease; /* Transición suave */
}

#conoce-doctor .social-icons a:hover {
    color: #D4B655; /* Color al pasar el cursor sobre los iconos */
}

/* Estilo para la quote */
#conoce-doctor .quote {
    font-style: italic;
    color: #0F2C54;
    margin-top: 15px;
}

/* Estilos para la sección Por Qué Elegirnos */
#por-que-elegirnos {
    padding: 50px 0; /* Añadir padding para separación */
    background-color: white; /* Color de fondo claro */
}

.section-title {
    color: #0F2C54; /* Color del título */
    margin-bottom: 30px;
}

.card {
    background-color: white; /* Color de fondo de las cards */
    border: none; /* Quitar borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    margin: 20px; /* Margen entre cards */
    text-align: center; /* Alinear texto al centro */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Transición suave */
}

.card:hover {
    transform: scale(1.05); /* Aumentar tamaño en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada en hover */
}

.card-icon {
    font-size: 40px; /* Tamaño del icono */
    color: #0F2C54; /* Color del icono */
    margin-bottom: 15px; /* Espacio inferior */
}

.card-title {
    color: #0F2C54; /* Color del título de la card */
    font-size: 20px; /* Tamaño de fuente del título */
    margin-bottom: 15px; /* Espacio inferior */
}

.card-description {
    color: #0F2C54; /* Color del texto de la card */
    font-size: 16px; /* Tamaño de fuente de la descripción */
}

/* Estilos para la sección de Procedimientos */
#procedimientos .card {
    border: none; /* Eliminar borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

#procedimientos .card:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el cursor */
}

#procedimientos .card-title {
    color: #0F2C54; /* Color del título */
}

#procedimientos .card-text {
    color: #0F2C54; /* Color del texto */
}
